html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
hyphens: auto;
}

body {
    background-color: #24211f;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #24211f;
    display: flex;
    padding: 100px 12vw 20px;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 20px;
}

.section-1, .section-2, .section-3, .section-4 {
    padding: 40px 12vw;
    flex: 1 0 auto;
}

.section-1 {
    background-color: #eeebea;
    display: flex;
    gap: 3vw;
    justify-content: space-between;
    align-items: center;
}

.section-2 {
    background-color: rgb(233, 195, 91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.section-2>* {
    text-align: center;
    margin: 0;
}

.section-3 {
    background-color: #eeebea;
}

.section-3>*:hover {
    color: rgb(185, 60, 56);
    cursor:default;
}

.section-4 {
    background-color: #24211f;
}

.hline {
    height: 2px;
    flex: 1 0 0%;
    background-color: rgb(233, 195, 91);
    margin-bottom: 5px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

a {
    text-decoration: none;
    color: rgb(233, 195, 91);
    font-family: "Archivo", "Helvetica", sans-serif;
    font-size: 18px;
}

a:hover {
    color: #eeebea;
}

a.logo {
    /* logo details */
    color: rgb(233, 195, 91);
    margin: 0;
    font-family: "Archivo", "Helvetica", sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 2px;
}

h1 {
    font-family: "Archivo", "Helvetica", sans-serif;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
}

h2 {
    font-family: "Archivo", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
}

p {
    font-family: "Archivo", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    background-color: #eeebea;
    height: 360px;
    width: 240px;
    border-radius: 36px;
    flex: 1 0 180px;
    box-shadow: 0px 0px 5px 5px #eeebea;
}

.card:hover {
    box-shadow: 0px 0px 0px 3px #eeebea;
}

.left {
    flex: 1 0 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left>*{
    margin: 0px;
}
.left>p {
    margin-left: 4vw;
}

img {
    height: 350px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button, button:focus-visible {
    border: 2px rgb(60, 68, 146);
    background-color: #FFFFFF;
    line-height: 32px;
    box-shadow: 3px 3px #24211f;
    padding: 3px 20px;
    flex: 0 1 auto;
}

button:focus-visible {
    border: 1px rgb(185, 60, 56);
}

button:hover {
    box-shadow:3px 3px rgb(185, 60, 56);
}

button:active {
    box-shadow:-3px -3px rgb(233, 195, 91);
    color: rgb(185, 60, 56);
}

.copyright {
    margin: 20px 0px;
    color: #eeebea;
    font-size: 12px;
    text-align: center;
}

.quote {
    text-align: justify;
    hyphens: auto;
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    box-shadow: 6px 6px #24211f;
    padding: 0px 40px 20px 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.quote:hover {
    box-shadow: 6px 6px rgb(185, 60, 56);
}