html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
    background-color: #24211f;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #24211f;
    display: flex;
    padding: 120px 12vw 20px;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 20px;
}

.section-1, .section-2, .section-3, .section-4 {
    padding: 40px 12vw;
    height: 480px;
}

.section-1 {
    background-color: #eeebea;
}

.section-2 {
    background-color: rgb(233, 195, 91);
}

.hline {
    height: 2px;
    flex: 1 0 0%;
    background-color: rgb(233, 195, 91);
    margin-bottom: 5px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

a {
    text-decoration: none;
    color: rgb(233, 195, 91);
    font-family: "Archivo", "Helvetica", sans-serif;
    font-size: 18px;
}

a:hover {
    color: #eeebea;
}

h1 {
    /* logo details */
    color: rgb(233, 195, 91);
    margin: 0;
    font-family: "Archivo", "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    word-spacing: 10px;
    letter-spacing: 2px;
}

h2 {
    font-family: "Archivo", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
}

p {
    font-family: "Archivo", "Helvetica", sans-serif;
    font-weight: 400;
    margin-left: 4vw;
    line-height: 1.5;
}

.card-holder {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #eeebea;
    height: 360px;
    width: 240px;
    border-radius: 36px;
}